[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dentomedical"]
	path = dentomedical
	url = https://github.com/umarhussain-git/dentomedical
