[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DOIcreator"]
	path = DOIcreator
	url = https://github.com/umarhussain-git/doicreator
[submodule "contourforest"]
	path = contourforest
	url = https://github.com/umarhussain-git/contourforest
[submodule "dentomedical"]
	path = dentomedical
	url = https://github.com/umarhussain-git/dentomedical
[submodule "pubrplot"]
	path = pubrplot
	url = https://github.com/umarhussain-git/pubrplot
